@font-face {
  font-family: "Terraria";
  src: url("../../assets/Fonts/ANDYB.TTF") format("truetype");
}
* {
  font-family: "Terraria";
}
nav {
  width: 98.4%;
  display: flex;
  padding: 0.5rem 0;
  background-image: url("../../assets/imgs/wood_wall.png");
  border: 10px solid transparent;
  padding: 5px;
  border-image: url("../../assets/imgs/wood.png") 10 round;
}
nav a {
  margin: 0 1rem;
  border: 10px solid transparent;
  padding: 5px;
  border-image: url("../../assets/imgs/stone.png") 10 round;
  text-decoration: none;
  color: chartreuse;
  background-image: url("../../assets/imgs/stone_wall.png");
  width: 80px;
  display: flex;
  justify-content: center;
}
nav a:hover {
  background: #111;
}
nav a:active {
  background: #000;
}
